# Introduction
- Continuing the theme of 'war-profiteering', the focus of study shifts to the interest generated in media during the Afghanistan war. 
- Popular events provoke vivid reflections among the citizens ensuing staunch attraction from media. 
- The latter pursues the events in detail and concentrates efforts to encapsulate and express the buzz thereby distributing information. 
- The increase in the demand of information reflects in the stock value of the media outlet.

## Scope
- During the initial months of the war, in a world devoid of social media, newpapers and television were the main source of updates. The following analyses attempts to visualize the interest in media about the activities surrounding the Afghanistan war. 
- It targets a major newspaper, the New York Times, and its stock value on the New York Stock Exchange.

## Timeline
- The onset of aggressive movement in the aftermath of the 9/11 attacks in 2001 up till the next 8 months and a comparative study with the current timeline.

## Resources
- The stock details of New York Times during the war and its current value.
- The assortment of published articles during the war.

In [9]:
#Import all the libraries
import requests
import json
import os
import csv
import re
import datetime
import time
import glob
import pandas as pd
import ystockquote
from pprint import pprint
from yahoo_finance import Share
from plotly.graph_objs import Scatter, Figure, Layout
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.plotly as py
from plotly.graph_objs import *
import matplotlib.pyplot as plt
import calendar


relativePath = os.getcwd()

In [88]:
#Fetch stocks and shares of NYT during the Afghan War 2002 and store in CSV.
nyt = Share('NYT')
nyt = nyt.get_historical('2001-9-1', '2002-4-20')
keys = nyt[0].keys()
with open(relativePath+"/"+'final/extra/SharesNYTWarTime.csv', 'w') as output_file:
    dict_writer = csv.DictWriter(output_file, keys)
    dict_writer.writeheader()
    dict_writer.writerows(nyt)

In [89]:
#Fetch stocks and shares of NYT now store in CSV.
nyt2 = Share('NYT')
nyt2 = nyt2.get_historical('2016-9-1', '2017-04-20')
keys = nyt2[0].keys()
with open(relativePath+"/"+'final/extra/SharesNYTNow.csv', 'w') as output_file:
    dict_writer = csv.DictWriter(output_file, keys)
    dict_writer.writeheader()
    dict_writer.writerows(nyt2)

In [10]:
#Creating dataframe for each csv file
dfWar = pd.read_csv(relativePath+"/"+'final/extra/SharesNYTWarTime.csv')
dfNow = pd.read_csv(relativePath+"/"+'final/extra/SharesNYTNow.csv')
dfNow

    Symbol        Date   Open   High    Low  Close   Volume  Adj_Close
0      NYT  2017-04-19  14.55  14.73  14.50  14.60   752900  14.600000
1      NYT  2017-04-18  14.35  14.55  14.28  14.50   910000  14.500000
2      NYT  2017-04-17  14.30  14.48  14.20  14.45   540900  14.450000
3      NYT  2017-04-13  14.45  14.50  14.15  14.25   560800  14.250000
4      NYT  2017-04-12  14.60  14.70  14.35  14.50   588500  14.500000
5      NYT  2017-04-11  14.35  14.65  14.25  14.60   700300  14.600000
6      NYT  2017-04-10  14.45  14.55  14.20  14.45   523500  14.450000
7      NYT  2017-04-07  14.45  14.50  14.30  14.45   605400  14.450000
8      NYT  2017-04-06  14.40  14.53  14.25  14.50   603600  14.500000
9      NYT  2017-04-05  14.60  14.65  14.30  14.40   955500  14.400000
10     NYT  2017-04-04  14.10  14.60  14.08  14.60   848000  14.600000
11     NYT  2017-04-03  14.35  14.40  14.13  14.20   882700  14.200000
12     NYT  2017-03-31  14.60  14.65  14.30  14.40   880500  14.360000
13     NYT  2017-03-30  14.40  14.70  14.40  14.55   608000  14.509584
14     NYT  2017-03-29  14.40  14.50  14.35  14.45   407200  14.409861
15     NYT  2017-03-28  14.15  14.50  14.15  14.40   424500  14.360000
16     NYT  2017-03-27  14.15  14.30  14.10  14.25   374600  14.210417
17     NYT  2017-03-24  14.35  14.45  14.25  14.25   521500  14.210417
18     NYT  2017-03-23  14.25  14.45  14.15  14.30   718400  14.260278
19     NYT  2017-03-22  14.25  14.45  14.10  14.25   753200  14.210417
20     NYT  2017-03-21  14.55  14.65  14.15  14.25  1095600  14.210417
21     NYT  2017-03-20  14.70  14.75  14.45  14.50   493100  14.459723
22     NYT  2017-03-17  14.65  14.85  14.55  14.70  1678200  14.659167
23     NYT  2017-03-16  14.80  14.80  14.48  14.65   444100  14.609306
24     NYT  2017-03-15  14.65  14.80  14.53  14.75   501300  14.709028
25     NYT  2017-03-14  14.45  14.70  14.45  14.55   396600  14.509584
26     NYT  2017-03-13  14.60  14.80  14.48  14.55   624800  14.509584
27     NYT  2017-03-10  14.40  14.70  14.30  14.65  1225900  14.609306
28     NYT  2017-03-09  14.40  14.58  14.35  14.35   490400  14.310140
29     NYT  2017-03-08  14.55  14.65  14.38  14.45   656000  14.409861
..     ...         ...    ...    ...    ...    ...      ...        ...
128    NYT  2016-10-13  11.55  11.70  11.45  11.60   298100  11.533503
129    NYT  2016-10-12  11.75  11.90  11.60  11.70   554500  11.632929
130    NYT  2016-10-11  11.80  11.90  11.60  11.65   376000  11.583216
131    NYT  2016-10-10  11.80  11.95  11.75  11.85   287100  11.782070
132    NYT  2016-10-07  11.96  12.03  11.75  11.80   717300  11.732356
133    NYT  2016-10-06  12.02  12.07  11.86  11.97   444800  11.901382
134    NYT  2016-10-05  12.00  12.09  11.92  12.02   441400  11.951095
135    NYT  2016-10-04  12.06  12.15  11.89  11.93   438200  11.861611
136    NYT  2016-10-03  11.89  12.12  11.80  12.08   749000  12.010751
137    NYT  2016-09-30  11.96  11.97  11.83  11.95   787400  11.841725
138    NYT  2016-09-29  12.20  12.21  11.87  11.90   869800  11.792178
139    NYT  2016-09-28  12.18  12.30  12.01  12.05   789800  11.940820
140    NYT  2016-09-27  12.31  12.39  12.27  12.30  1117000  12.188555
141    NYT  2016-09-26  12.36  12.42  12.29  12.34   500100  12.228192
142    NYT  2016-09-23  12.37  12.47  12.34  12.44   381200  12.327285
143    NYT  2016-09-22  12.29  12.42  12.27  12.42   593600  12.307467
144    NYT  2016-09-21  12.28  12.37  12.14  12.29   618700  12.178645
145    NYT  2016-09-20  12.42  12.42  12.27  12.28   412600  12.168735
146    NYT  2016-09-19  12.35  12.42  12.28  12.34   495400  12.228192
147    NYT  2016-09-16  12.35  12.36  12.13  12.28  1190700  12.168735
148    NYT  2016-09-15  12.27  12.41  12.20  12.34   650600  12.228192
149    NYT  2016-09-14  12.28  12.37  12.21  12.25   710900  12.139007
150    NYT  2016-09-13  12.49  12.49  12.23  12.30   872500  12.188555
151    NYT  2016-09-12  12.41  12.60  12.34  12.58   586800  12.466017
152    NYT  2016-09-09  12.89  12.91  12.45  12.45   542200  12.337195
153    NYT  2016-09-08  13.14  13.14  12.99  13.01   384600  12.892122
154    NYT  2016-09-07  13.03  13.14  13.00  13.14   894700  13.020944
155    NYT  2016-09-06  13.11  13.19  12.96  13.01   610800  12.892122
156    NYT  2016-09-02  13.01  13.05  12.97  13.05   400900  12.931759
157    NYT  2016-09-01  12.95  13.01  12.83  12.93   377000  12.812846

[158 rows x 8 columns]

In [6]:
init_notebook_mode(connected=True)

In [12]:
#Extracting date and converting into 'MM-dd' for stocks during afghan war
dfWar['Date'] = pd.to_datetime(dfWar['Date'])
dfWar['Day'] = dfWar['Date'].dt.day
dfWar['Month'] = dfWar['Date'].dt.month
dfWar['Month'] = dfWar['Month'].apply(lambda x: calendar.month_abbr[x])
dfWar['dayMonth'] = dfWar['Month'].astype(str).str.cat(dfWar['Day'].astype(str), sep='-')
dfWar = dfWar.drop('Day', 1)
#Calculating mean of the stocks and shares during Afghan war 2002  
High = dfWar.groupby(['Month']).mean()
High = High.reset_index()
High.head()

  Month       Open       High        Low      Close  Volume  Adj_Close
0   Apr  47.370000  47.774667  46.809333  47.312000  445073  37.900945
1   Dec  43.982500  44.416000  43.537000  43.953000  799465  35.110321
2   Feb  43.731052  44.374210  43.392105  43.954737  631363  35.122167
3   Jan  43.489048  43.838572  43.086191  43.432857  523204  34.694823
4   Mar  46.968000  47.522500  46.670500  47.102000  536105  37.732717

In [11]:
#Extracting date and converting into 'MM-dd' for stocks now
dfNow['Date'] = pd.to_datetime(dfNow['Date'])
dfNow['Day'] = dfNow['Date'].dt.day
dfNow['Month'] = dfNow['Date'].dt.month
dfNow['Month'] = dfNow['Month'].apply(lambda x: calendar.month_abbr[x])
dfNow['dayMonth'] = dfNow['Month'].astype(str).str.cat(dfNow['Day'].astype(str), sep='-')
dfNow = dfNow.drop('Day', 1)
#Calculating mean of the stocks and shares now
High = dfNow.groupby(['Month']).mean()
High = High.reset_index()
High.head()

  Month       Open       High        Low      Close   Volume  Adj_Close
0   Apr  14.412500  14.570000  14.249167  14.458333   706008  14.458333
1   Dec  13.485714  13.678571  13.312381  13.490476   574709  13.413142
2   Feb  14.955263  15.188947  14.686316  14.955263  1179000  14.913721
3   Jan  13.417500  13.549500  13.272000  13.427500   450730  13.382187
4   Mar  14.486957  14.636087  14.345652  14.486957   702265  14.446715

## Analysis Plot 1 
The comparative bar graph visualizes the stock value of New York Times following the attacks of 9/11 against its current value. Monthly distribution on the abscissa (X-axis) displays the mean value of stock plotted on the ordinate (Y-axis).

In [13]:
#Plotting the stocks and shares of NYT now and during war
trace1 = Bar(
    x=dfWar['Month'],
    y=dfWar['High'],
    name='NYT Stock during war'
)
trace2 = Bar(
    x=dfNow['Month'],
    y=dfNow['High'],
    name='NYT Stock Now'
)

data = [trace1, trace2]
layout = Layout(
    barmode='group', title='NYT Stocks Now and during Afghan War'
)

fig = Figure(data=data, layout=layout)
iplot(fig, filename='grouped-bar')

## Inference Plot 1
- Since the event was broadcasted live over the globe, and is potentially marked as a new divide in the political environment, minute details were significantly covered by the media to relay as much information to the aghast citizen. 
- A huge surge in the stock value is clearly visible when we compare one of the most apalling events of all time to the recent timeline.

In [ ]:
#Fetch the articles published in NYT during the Afghan war of 2002 and store in JSON format
relativePath = os.getcwd()
key=os.getenv('api_key')
begin_date='20011216'
end_date='20020411'
q='war'

if os.path.exists(relativePath):
     os.makedirs(relativePath+"/"+'final/data/')
page=0
pages=120
for i in range(0, pages):
    article_url= "http://api.nytimes.com/svc/search/v2/articlesearch.json?&api-key=" + key +'&'+ "q=" + q +'&'+ "begin_date=" + begin_date +'&'+ "end_date=" + end_date +'&'+"page=" + str(i)  
    #print(article_url)
    response = requests.get(article_url)
    time.sleep(5)
    print(response)
    content=response.json()
    with open(relativePath+"/"+'final/data'+"/"+"War"+str(i)+'.json', 'w') as file:
        json.dump(content, file)

In [3]:
import operator
list_sections = [];                                          #empty list to store different categories by section_name
d={}                                                         #empty dictionary to store section_name n counts
folder='/final/data'
fileList=[]
sectionCountList= {}
for directory, subDirectory, filename in os.walk(relativePath+folder):
    for f in filename:
        a = os.path.join(directory, f)
        fileList.append(a) #appending all 120 json files in fileList

for filename in fileList:          #iterrating over all the json files in data folder
     with open(filename) as r:                                #opening each files and giving alias as r
        json_data = json.load(r)                             #loading the data of each file into json_data
        json_response=json_data['response']                  #getting response from each page
        json_docs=json_response['docs']                      #getting all articles from every page
        for doc in json_docs:                                #iterating over articles
            if doc['section_name'] not in list_sections and doc['section_name'] is not None:  
                list_sections.append(doc['section_name'])
                
for i in range(0,len(list_sections)):
    count=0
    for filename in fileList:      #iterrating over all the json files in data folder
        with open(filename) as r:                            #opening each files and giving alias as r
            json_data = json.load(r)                         #loading the data of each file into json_data
            json_response=json_data['response']
            json_docs=json_response['docs']
            for doc in json_docs:
                if doc['section_name']==list_sections[i]:    #recording the count of articles for each section_name
                    count+=1
    d[doc['section_name']]=count
    sectionCountList[list_sections[i]]=d[doc['section_name']]
#print(sorted(sectionCountList.items(), key=operator.itemgetter(1), reverse=True)[:10])
sectionCountList

{'Arts': 20,
 'Arts; Books': 23,
 'Arts; Books; Opinion': 2,
 'Arts; Corrections; Books': 1,
 'Arts; Obituaries': 4,
 'Arts; Opinion': 1,
 'Arts; Theater': 3,
 'Arts; Theater; Opinion': 3,
 'Books; New York and Region': 3,
 'Books; Week in Review': 1,
 'Business': 16,
 'Business; Obituaries': 5,
 'Business; Washington': 2,
 'Corrections; Books; New York and Region': 1,
 'Corrections; Magazine': 1,
 'Corrections; New York and Region': 14,
 'Corrections; Washington; New York and Region': 5,
 'Education; New York and Region': 2,
 'Education; U.S.; Washington': 1,
 'Front Page': 2,
 "Front Page; Corrections; Editors' Notes; New York and Region": 1,
 'Front Page; New York and Region': 9,
 'Front Page; U.S.': 3,
 'Front Page; U.S.; Washington': 7,
 'Health': 3,
 'Health; Opinion': 2,
 'Health; U.S.': 1,
 'Home and Garden; Style': 4,
 'Home and Garden; Style; Books': 1,
 'Magazine': 10,
 'Magazine; Opinion': 8,
 'Magazine; Washington': 4,
 'Magazine; Washington; Opinion': 4,
 'Movies; Arts': 14,
 'Movies; Arts; Opinion': 1,
 'Movies; Arts; Theater': 1,
 'Movies; Corrections; New York and Region': 1,
 'Movies; New York and Region': 1,
 'Movies; Week in Review': 1,
 'Movies; World': 1,
 'Movies; World; Theater': 1,
 'New York and Region': 30,
 'New York and Region; Opinion': 3,
 'Obituaries; New York and Region': 7,
 'Opinion': 230,
 'Paid Death Notices': 75,
 'Real Estate': 2,
 'Science; Opinion': 4,
 'Sports': 2,
 'Style': 3,
 'Technology': 2,
 'Technology; Arts': 1,
 'Technology; Business': 2,
 'Technology; Movies; Magazine; Opinion': 1,
 'Technology; New York and Region': 1,
 'Technology; Opinion': 2,
 'Technology; Washington': 1,
 'Theater; Magazine; Opinion': 1,
 'Theater; New York and Region': 1,
 'Travel': 2,
 'U.S.': 25,
 'U.S.; Obituaries': 7,
 'U.S.; Washington': 22,
 'U.S.; Washington; Books': 1,
 'Washington; New York and Region': 3,
 'Washington; Week in Review': 13,
 'Week in Review': 30,
 'World': 330,
 "World; Corrections; Editors' Notes": 1,
 'World; Education': 2,
 'World; Front Page': 17,
 'World; Front Page; Theater': 1,
 'World; Front Page; Washington': 32,
 'World; Health': 2,
 'World; Health; Washington': 2,
 'World; Obituaries': 4,
 'World; Washington': 109}

In [4]:
#Write the section count list in csv
with open(relativePath+"/"+'final/extra/TT1.csv', 'w') as csv_file:
    writer = csv.writer(csv_file)
    for key, value in sectionCountList.items():
        writer.writerow([key, value])

## Analysis Plot 2
A share of distribution of articles among myriad sub-sections displays the amount of interest in that particular domain among the citizens and henceforth, the media.

In [14]:
#Creating dataframe for each csv file
dfCountArticle = pd.read_csv(relativePath+"/"+'final/extra/TT1.csv')
dfCountArticle = dfCountArticle.dropna() #drop null values
#Pie chart plotting
fig = {
    'data': [{'labels': dfCountArticle['Section_Name'],
              'values': dfCountArticle['Article_Count'],
              'type': 'pie'}],
    'layout': {'title': 'Major sections with most articles during Afghan War'}
     }
iplot(fig)

## Inference Plot 2
- Majority of articles focused on the stories revolving around 9/11 and the rising politcal tensions while all other information eschewed. 
- It is clearly visualized in the pie chart, majority of articles are centered around the topics including World, New York, Washington, Front Page and Opinion.

# Conclusion:
- The consequtive plots validate thes problem statement displaying relative congruence in a direct impact of interest generated in information surrounding the political environment in the aftermath of 9/11 demonstrated in the first plot and the rise in the stock value of New York Times, the major source of information, as compared to its current standing demonstrated in the second plot.